<template name="signupForm">
  <div class="hospital" id="hospital"></div>
  {{> atForm}}
</template>

<template name="loginForm">
  <form id="login-form">
    <h2>Log In</h2>

    <label for="login-username">Username</label>
    <input type="text" id="login-username" placeholder="Username" />

    <label for="login-password">Password</label>
    <input type="password" id="login-password" placeholder="Password" />

    <button type="submit">Log In</button>
  </form>
</template>

<template name="logoutForm">
  <form id="logout-form">
    <button type="submit">Log Out</button>
  </form>
</template>

<template name="newHospital">
  {{> quickForm collection="Hospitals" id="insertHospitalForm" type="insert" doc=user}}
</template>