<template name="home">
    <div id="skrollr-body">

        <section id="intro" class="colored text-center">


            <div id="hero-container">
                <ul class="cb-slideshow">
                    <li><span></span></li>
                    <li><span></span></li>
                    <li><span></span></li>
                    <li><span></span></li>
                    <li><span></span></li>
                    <li><span></span></li>
                </ul>
                <div class="home-header">
                    <div class="home-logo osLight">
                        <span><img src="images/findhospitals-white.png"></span>
                    </div>
                    <a href="/" class="home-navHandler visible-xs"><span class="fa fa-bars"></span></a>
                    <div class="home-nav">
                        <ul>
                            {{#if currentUser}}
                            <li id="logout"><a href="#">Sign Out</a></li>
                            {{else}}
                            <li><a href="{{pathFor 'atSignUp'}}">Sign Up</a></li>
                            <li><a href="{{pathFor 'atSignIn'}}">Sign In</a></li>
                            <li><a href="{{pathFor route='new-account'}}" class="btn btn-green isThemeBtn">Hospital Signup</a></li>
                            {{/if}}

                        </ul>
                    </div>
                </div>
                <div class="home-caption">
                    <div class="home-title webly">Find closest Hospitals and Book Appointments</div>
                    <br>
                    <!-- <div class="home-subtitle webly">With FindHospitals - We make your search easy</div> -->
                    <!-- <a href="index.html#" class="btn btn-lg btn-black">Search Now</a> -->
                    <div class="search-panel">
                        <form class="form-inline" role="form">
                            <div class="form-group" placeholder="Type of hospital">
                                <label for="select1" class="col-lg-2 control-label label-align">Type</label>
                                <div class="col-lg-10">
                                    <select class="form-control select-radius" id="select1" >
                                        <option>General Hospital</option>
                                        <option>Dentistry</option>
                                        <option>Orthopedic</option>
                                        <option>Maternity</option>
                                        <option>Psychiatry</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">


                                <!-- <input id="searchTextField" type="text" class="form-control select-radius media-style"> -->
                                <input type="text" id="lat" class="form-control typeahead" placeholder="Area e.g Accra Metropolis" autocomplete="off" spellcheck="off" data-source="nba"/>
                            </div>


                        <!-- <div class="form-group hidden-xs adv">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <a href="index.html#" data-toggle="dropdown" class="btn btn-white dropdown-toggle">
                                    <span class="dropdown-label">consultation fee</span> <span class="caret"></span>
                                </a>

                                <ul class="dropdown-menu dropdown-select">
                                    <li><input type="radio" name="bedno"><a href="#">0  to 20 Ghc</a></li>
                                    <li><input type="radio" name="bedno"><a href="#">0  to 20 Ghc</a></li>
                                    <li><input type="radio" name="bedno"><a href="#">20 to 40 Ghc</a></li>
                                    <li><input type="radio" name="bedno"><a href="#">30 to 100 Ghc</a></li>
                                    <li><input type="radio" name="bedno"><a href="#">100 and above</a></li>
                                </ul>
                            </div>
                        </div> -->



                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label label-align">Range</label>
                            <div class="col-lg-10">
                                <select class="form-control select-radius" id="select">
                                    <option>0  to 20 Ghc</option>
                                    <option>20 to 40 Ghc</option>
                                    <option>40 to 100 Ghc</option>
                                    <option>100 to 150 Ghc</option>
                                    <option>150 and above</option>
                                </select>
                            </div>
                        </div>


                        <!-- <div class="form-group hidden-xs adv">
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input class="form-control price" type="text" placeholder="From">
                            </div>
                        </div> -->
                        <div class="form-group">

                            <a href="explore.html" id="hospitalSearch" class="btn btn-green isThemeBtn select-radius media-btn">Find Hospital</a>

                        </div>
                    </form>
                </div>
                <div id="map_canvas" style="height: 0;width: 0px;margin: 0.6em;"></div>
            </div>
        </div>
        <div class="highlight">
            <div class="h-title osLight webly">Experience the best medical service within your budget</div>
            <!-- <div class="h-text osLight">Fusce risus metus, placerat in consectetur eu, porttitor a est sed sed dolor lorem cras adipiscing</div> -->
        </div>


        <div class="home-wrapper">
            <div class="home-content">
                <h2 class="osLight webly">What we Offer you</h2>
                <div class="row pb40">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 s-menu-item">
                        <a >

                            <span class="f-icon"><i class="fa fa-hospital-o"></i></span>

                            <div class="s-content">

                                <h2 class="s-main osLight webly">Find the specific medical care you need easily </h2>
                                <h3 class="s-sub osLight">Maternity, orthopedics, dentistry? we've got you</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 s-menu-item">
                        <a >
                            <span class="f-icon"><i class="fa fa-stethoscope"></i></span>
                            <div class="s-content">
                                <h2 class="s-main osLight webly">Get medical attention you can pay for</h2>
                                <h3 class="s-sub osLight">Find the very best hospitals within your budget</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 s-menu-item">
                        <a >
                            <span class="f-icon"><i class="fa fa-laptop"></i></span>
                            <div class="s-content">
                                <h2 class="s-main osLight webly">Book an appointment with a doctor online right now</h2>
                                <h3 class="s-sub osLight">Doctors are waiting for you to get in touch</h3>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>



        <!-- Content for hospitals -->
        <div class="hospital-lading-page pb40">

            <div class="cover-blur">
                <div class="valueprop webly">We provide online identity for Private Hospitals and an easier way to connect with patients.</div>
                <a href="{{pathFor 'new-account'}}" class="btn btn-green isThemeBtn select-radius propBtn">Get Listed</a>
            </div>

        </div>

        <div class="home-wrapper">
            <div class="home-content">
                <h2 class="osLight">Our Numbers Speak for Us</h2>
                <div class="row pb40">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a class="propWidget-2">
                            <div class="fig">
                                <img src="images/listerhospital.jpg" alt="hospitals">
                                <img class="blur" src="images/listerhospital.jpg" alt="Hospitals">
                                <div class="opac"></div>
                                <div class="priceCap osLight"><span>200</span></div>
                                <h3 class="osLight">Hospitals Listed on our platform</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a href="single.html" class="propWidget-2">
                            <div class="fig">
                                <img src="images/medical-appointment.jpg" alt="medical appointment">
                                <img class="blur" src="images/medical-appointment.jpg" alt="medical appointment">
                                <div class="opac"></div>
                                <div class="priceCap osLight"><span>223</span></div>
                                <h3 class="osLight">Medical Appointments</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a href="single.html" class="propWidget-2">
                            <div class="fig">
                                <img src="images/internet-traffic.jpg" alt="website traffic">
                                <img class="blur" src="images/internet-traffic.jpg" alt="website traffic">
                                <div class="opac"></div>
                                <div class="priceCap osLight"><span>1,503</span></div>
                                <h3 class="osLight">People visiting our platform</h3>
                            </div>
                        </a>
                    </div>
                </div>

<!--                 <h2 class="osLight">Hospital Listings</h2>
                <div class="row pb40 hospital-listings">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <ul>
                            <li>3M&amp;C hospital</li>
                            <li>3M&amp;C hospital</li>
                            <li>3M&amp;C hospital</li>
                            <li>3M&amp;C hospital</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <ul>
                            <li>3M&amp;C hospital</li>
                            <li>3M&amp;C hospital</li>
                            <li>3M&amp;C hospital</li>
                            <li>3M&amp;C hospital</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <ul>
                            <li>3M&amp;C hospital</li>
                            <li>3M&amp;C hospital</li>
                            <li>3M&amp;C hospital</li>
                            <li>3M&amp;C hospital</li>
                        </ul>
                    </div>


                </div> -->
            </div>
        </div>




        <div class="modal fade" id="signup" role="dialog" aria-labelledby="signupLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="signupLabel">Sign Up</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="btn-group-justified">
                                    <a href="explore.html" class="btn btn-lg btn-facebook"><span class="fa fa-facebook pull-left"></span>Sign Up with Facebook</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="btn-group-justified">
                                    <a href="explore.html" class="btn btn-lg btn-google"><span class="fa fa-google-plus pull-left"></span>Sign Up with Google</a>
                                </div>
                            </div>
                            <div class="signOr">OR</div>
                            <div class="form-group">
                                <input type="text" placeholder="First Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Last Name" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Email Address" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Confirm Password" class="form-control">
                            </div>
                            <div class="form-group">
                                <div class="btn-group-justified">
                                    <a href="explore.html" class="btn btn-lg btn-green isThemeBtn">Sign Up</a>
                                </div>
                            </div>
                            <p class="help-block">Already with findhospitals.co? <a href="index.html#" class="modal-si text-green isThemeText">Sign In</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!--         <section id="how-it-works" class="text-center">
            <div class="container wow fadeIn animated">
                <div class="row col-md-12">
                    <h3>{{_ "how"}}</h3>
                    <h4>{{Config.name}} - {{Config.subtitle}}</h4>
                </div>
            </div>
            <div class="container">
                <div class="row" id="icon-row">
                    <div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.4s">
                        <div class="iconbox">
                            <i class="fa fa-plane fa-3x"></i>
                        </div>
                        <p class="icntitle">1. {{_ "step_1"}}</p>
                        <p class="icnp">{{_ "step_1_text"}}</p>
                    </div>
                    <div class="col-md-4 wow fadeInUp animated" data-wow-delay="0.8s">
                        <div class="iconbox">
                            <i class="fa fa-bolt fa-3x"></i>
                        </div>
                        <p class="icntitle">2. {{_ "step_2"}}</p>
                        <p class="icnp">{{_ "step_2_text"}}</p>
                    </div>
                    <div class="col-md-4 wow fadeInRight animated" data-wow-delay="1.2s">
                        <div class="iconbox">
                            <i class="fa fa-check fa-3x"></i>
                        </div>
                        <p class="icntitle">3. {{_ "step_3"}}</p>
                        <p class="icnp">{{_ "step_3_text"}}</p>
                    </div>
                </div>
            </div>
        </section> -->

        
    </div>
    {{> footerHome}}
</template>

<template name="footerHome">
    <!-- <footer id="footer-home">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-offset-2 col-md-8">
                    <ul class="social-networks">
                        {{#each socialMedia}}
                        <li><a href="{{url}}" target="_blank">
                            <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-{{icon}} fa-stack-1x fa-inverse"></i>
                            </span></a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    {{{Config.footer}}}
                </div>
            </div>
        </div>
    </footer> -->

    <div class="home-footer">
        <div class="home-wrapper">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="osLight footer-header">Company</div>
                    <ul class="footer-nav pb20">
                        <li><a href="/">About</a></li>
                       <!--  <li><a href="#">Jobs</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Help</a></li> -->
                        <li><a href="{{pathFor 'terms'}}">Terms & Privacy</a></li>

                    </ul>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                    <div class="osLight footer-header">Discover</div>
                    <ul class="footer-nav pb20"><!-- 
                        <li><a href="index.html#">Become a Member</a></li> -->
                        <li><a href="{{pathFor route='new-account'}}">Healthcare Facilities Lisitng</a></li>
                        <li><a href="{{pathFor 'atSignIn'}}">Sign In</a></li>
                        <li><a href="/">Lists</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="osLight footer-header">Get in Touch</div>
                    <ul class="footer-nav pb20">
                        <li class="footer-phone"><span class="fa fa-phone"></span> +233243077587</li>
                        <li class="footer-address osLight">
                            <p>No.20 Aluguntuguntu Street</p>
                            <p>East Legon, Accra</p>
                            <p>Ghana</p>
                        </li>

                        <li>
                            {{#each socialMedia}}
                            <a href="{{url}}" target="_blank" class="btn btn-sm btn-icon btn-round btn-o btn-white"><span class="fa fa-{{icon}}"></span></a>
                            {{/each}}
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="osLight footer-header">Subscribe to Our Newsletter</div>
                    <form role="form">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-green btn-block isThemeBtn">Subscribe</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="copyright">FindHospitals.co<br> &copy; 2015</div>
        </div>
    </div>
</template>
