<template name= "maindashboard">

	<div id="wrapper">

		<!-- Navigation -->

		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav side-nav">
				<!-- {{#with pharmacy}} -->
				<li>
					<!-- <a>{{name}}</a> -->
				</li>
				<!-- {{/with}} -->
				<li class="active">
					<a href="{{pathFor 'space'}}"><i class="fa fa-fw fa-dashboard"></i>Home</a>
				</li>
				<li>
					<a href="{{pathFor 'drugDatabase'}}"><i class="fa fa-fw fa-bar-chart-o"></i>Drug Database</a>
				</li>
				<li>
					<a href="{{pathFor 'analytics'}}"><i class="fa fa-fw fa-table"></i>Analytics</a>
				</li>
				<li>
					<a href="{{pathFor 'archive'}}"><i class="fa fa-fw fa-edit"></i>Archive</a>
				</li>

        <!-- <li>
          <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
          <ul id="demo" class="collapse">
            <li>
              <a href="#">Dropdown Item</a>
            </li>
            <li>
              <a href="#">Dropdown Item</a>
            </li>
          </ul>
      </li> -->
  </ul>
</div>
<!-- /.navbar-collapse -->

<div id="page-wrapper">


	<!-- /.container-fluid -->
	{{>yield}}

</div>
<!-- /#page-wrapper -->

</div>


</template>