<template name= "maindashboard">
	<div class="wrapper">
		<div class="box">
			{{> navbar}}
			<div class="row row-offcanvas row-offcanvas-left">
				<!-- sidebar -->
				<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">

					<ul class="nav">
						<li><a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
					</ul>

					<ul class="nav hidden-xs" id="lg-menu">
						<li class="active"><a href="#featured"><i class="glyphicon glyphicon-list-alt"></i> Appointments</a></li>
						<li><a href="#stories"><i class="glyphicon glyphicon-list"></i> Profile</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-paperclip"></i> Edit Setting</a></li>
						<li><a href="#"><i class="glyphicon glyphicon-refresh"></i> Reviews</a></li>
					</ul>
					

				</div>
				<!-- /sidebar -->
				<div>
					
					<!-- main right -->
				</div>
				<!-- main right col -->
				<div class="column col-sm-10 col-xs-11" id="main">
					<h1>{{> updateHospital}}</h1>
				</div>
				<!-- /main -->
			</div>
		</div>
	</div>

</template>